* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #e6e6e6;
}

/* KHUNG CHÍNH */
.page-wrapper {
    width: 72%;
    min-width: 1100px;
    max-width: 1300px;
    margin: auto;
    background: #ffffff;
}

/* ================= HEADER ================= */

.top-header {
    display: flex;
    justify-content: flex-end;
    background: #f1f1f1;
    padding: 6px 10px;
    height: 36px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.lang select {
    height: 26px;
    font-size: 13px;
    padding: 2px 6px;
}

.search-box {
    display: flex;
}

.search-box input {
    height: 26px;
    border: 1px solid #ccc;
    padding: 0 6px;
    font-size: 13px;
}

.search-box button {
    height: 26px;
    border: none;
    padding: 0 12px;
    background: #003a8f;
    color: #fff;
    cursor: pointer;
}

.banner img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 200;

}

/* ================= NAV ================= */

.main-nav {
    position: relative;
    /* ⭐ DÒNG QUAN TRỌNG */
    background: #ffffff;
    border-bottom: 2px solid #fcfcfc;
    display: flex;
    justify-content: center;
    z-index: 100;
    height: 30px;
}

.main-nav a {
    color: #003a8f;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.main-nav a:hover {
    background: #003a8f;
    color: #ffffff;
}

/* ================= MENU ================= */

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/* từng menu cha */
.menu>li {
    position: relative;
}

/* ===== SUB MENU ===== */

.sub-menu {
    position: absolute;
    top: 100%;
    /* luôn xổ xuống dưới nav */
    left: 0;
    background: #ffffff;
    min-width: 220px;
    border: 1px solid #ddd;
    display: none;
    z-index: 999;
}

/* link trong submenu */
.sub-menu li a {
    display: block;
    padding: 10px 14px;
    font-size: 13px;
    font-weight: normal;
    color: #003a8f;
    background: #ffffff;
}

/* hover submenu */
.sub-menu li a:hover {
    background: #003a8f;
    color: #ffffff;
}

/* HIỆN SUB MENU */
.menu li:hover .sub-menu {
    display: block;
}

.announcement-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border: 1px solid white;
    padding: 8px 15px;
    font-size: 14px;
}

/* 10% */
.announce-left {
    flex: 1.;
    font-weight: bold;
    color: yellow;
    background-color: blue;
}

/* 90% */
.announce-right {
    flex: 9;
    text-align: left;
}

.announce-right a {
    color: #003a8f;
    font-weight: bold;
    text-decoration: none;
    flex: 9;
    text-align: left;
}

.announce-right a:hover {
    text-decoration: underline;
}

/* ================= CONTENT ================= */

.content {
    display: flex;
    gap: 20px;
    padding: 20px;
}

article {
    flex: 3;
    border: 1px solid #ddd;
    padding: 20px;
    background: #fff;
}

aside.right {
    flex: 1;
    border: 1px solid #ddd;
    padding: 15px;
    background: #f9f9f9;
}

aside h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

/* ================= FOOTER ================= */

footer {
    background: #003a8f;
    color: #fff;
    text-align: center;
    padding: 18px;
    font-size: 13px;
    line-height: 1.6;
}